@charset "UTF-8";
.hide {
  display: none; }

.useable-button {
  border-radius: 50px;
  font-size: 23px;
  background-color: #2d3663;
  position: relative;
  overflow: hidden;
  z-index: 999; }
  .useable-button .button-icon {
    color: white; }

.useable-button:hover .button-icon {
  color: black !important;
  z-index: 100;
  position: relative; }

.useable-button:hover span {
  position: relative;
  z-index: 100; }

.useable-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: white;
  transition: transform 300ms ease-in-out;
  transform: scale(0);
  transform-origin: center; }

.useable-button:hover:before {
  height: 100%;
  width: 100%;
  transform: scale(1);
  border: none !important; }

li {
  list-style: none; }

.topbar {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .topbar .hotline, .topbar .address, .topbar .daytime {
    gap: 1rem; }
  .topbar .hotline i, .topbar .address i, .topbar .daytime i {
    height: 2em;
    width: 2em;
    padding: 0.5em;
    background-color: #2d3663;
    color: whitesmoke;
    border-radius: 50%; }
  .topbar .icon-area {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem; }
    .topbar .icon-area i {
      cursor: pointer; }

.main-section {
  height: 650px;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem; }
  .main-section .header-section .slider {
    top: -20%;
    z-index: -2; }
    .main-section .header-section .slider .slick-track {
      width: 100% !important; }
      .main-section .header-section .slider .slick-track .carousel {
        width: 100% !important; }
    .main-section .header-section .slider .carousel-inner .carousel-item img {
      height: 650px; }
    .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 1.25rem;
      left: 15%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #fff;
      text-align: center;
      top: 30%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400;
      color: black; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption h2 {
        font-family: sans-serif;
        font-size: 50px;
        margin-bottom: 2rem; }
        .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption h2 span {
          color: aqua;
          margin-left: 1rem; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption p {
        font-family: sans-serif;
        margin-bottom: 2rem;
        width: 50%;
        position: relative;
        left: 24%; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button:last-child {
        background-color: aqua !important; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button {
        border-radius: 50px;
        font-size: 25px;
        background-color: #2d3663;
        position: relative;
        overflow: hidden;
        z-index: 999;
        border: none !important; }
        .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button .slide-inner-button-icon {
          color: white; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button:hover .slide-inner-button-icon {
        color: black !important;
        z-index: 100;
        position: relative; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button:hover span {
        position: relative;
        z-index: 100; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        background-color: white;
        transition: transform 300ms ease-in-out;
        transform: scale(0);
        transform-origin: center; }
      .main-section .header-section .slider .carousel-inner .carousel-item .carousel-caption .slide-inner-button:hover:before {
        height: 100%;
        width: 100%;
        transform: scale(1);
        border: none !important; }
    .main-section .header-section .slider .social-icons {
      top: 30%;
      z-index: 100;
      left: 4%;
      height: 60%;
      position: absolute;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 15%; }
      .main-section .header-section .slider .social-icons .carousel-social-icon {
        color: #0c0a0a;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 0.5);
        scale: 1; }
      .main-section .header-section .slider .social-icons .carousel-social-icon:hover {
        background-color: #2d3663;
        color: white;
        cursor: pointer;
        transform: scale(1.1); }
      .main-section .header-section .slider .social-icons .carousel-social-icon::before {
        content: "";
        position: absolute;
        top: 100%;
        height: 175%;
        left: 45% !important;
        z-index: 110;
        color: #2d3663;
        width: 2px;
        background-color: #161515; }
      .main-section .header-section .slider .social-icons .carousel-social-icon:last-child::before {
        display: none !important; }
    .main-section .header-section .slider .carousel-indicators {
      position: absolute;
      right: 0;
      z-index: 1001;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 5.8%;
      padding: 0;
      margin-right: 5% !important;
      margin-bottom: 1rem;
      top: 30%;
      left: 80%;
      height: 60%; }
      .main-section .header-section .slider .carousel-indicators [data-bs-target] {
        background-color: rgba(231, 226, 226, 0.007) !important; }
      .main-section .header-section .slider .carousel-indicators .indicators {
        position: relative;
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        margin-bottom: 141%; }
      .main-section .header-section .slider .carousel-indicators .indicators::before {
        content: "";
        height: 275%;
        z-index: 110;
        color: #2d3663;
        width: 2px;
        position: absolute;
        right: 46%;
        background-color: black;
        top: 100%; }
      .main-section .header-section .slider .carousel-indicators .indicators:last-child::before {
        display: none !important; }
      .main-section .header-section .slider .carousel-indicators .active::after {
        content: "";
        position: relative;
        z-index: 100;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        color: blue;
        background-color: #2d3663;
        right: 5%;
        display: flex;
        top: 37%;
        left: 33%; }
  .main-section .header-section .row .col .offcanvas-body {
    background-color: #2d3663;
    color: white; }
    .main-section .header-section .row .col .offcanvas-body .nav-options {
      display: flex !important;
      flex-direction: column !important; }
      .main-section .header-section .row .col .offcanvas-body .nav-options li {
        cursor: pointer;
        margin-bottom: 2rem; }
      .main-section .header-section .row .col .offcanvas-body .nav-options li:hover {
        color: green; }
      .main-section .header-section .row .col .offcanvas-body .nav-options li::after {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        right: 10%;
        position: absolute;
        padding: 3.3%;
        height: 40px;
        width: 40px;
        color: black;
        font-size: 1rem;
        font-weight: 700;
        background-color: white;
        border-radius: 50%; }
      .main-section .header-section .row .col .offcanvas-body .nav-options li:hover::after {
        color: green; }
  .main-section .header-section .row i {
    font-size: 25px; }
  .main-section .nav-row {
    border-bottom: 1px dashed blueviolet; }
  .main-section .row {
    padding-top: 5px; }
    .main-section .row p span {
      color: blue; }
    .main-section .row .top-ul {
      border-bottom: none;
      display: grid;
      grid-template-columns: auto auto auto; }
      .main-section .row .top-ul li i {
        color: black; }
    .main-section .row .top-bar-icon {
      background-color: #93daf7;
      color: white;
      border-radius: 50%;
      height: 30px !important;
      width: 30px !important; }

.categories-section {
  height: 450px;
  position: relative;
  z-index: 200;
  margin-top: 1rem; }
  .categories-section .cards-section {
    height: 400px;
    width: 100%;
    position: relative;
    top: -100px; }
    .categories-section .cards-section .left-card {
      min-height: 400px;
      background-color: #47ccc8;
      border-radius: 10px; }
      .categories-section .cards-section .left-card .card-text {
        text-align: center; }
        .categories-section .cards-section .left-card .card-text .btn {
          color: white; }
        .categories-section .cards-section .left-card .card-text .btn:hover {
          color: #2d3663; }
    .categories-section .cards-section .right-card {
      height: 400px;
      background-color: #edf3f6;
      border-radius: 10px; }
      .categories-section .cards-section .right-card .right-card-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .2rem;
        padding: 6% !important;
        align-items: center; }
        .categories-section .cards-section .right-card .right-card-body .item {
          height: 130px;
          width: 130px;
          margin-bottom: 4%;
          margin-top: 10%;
          background-color: white;
          text-align: center;
          padding: 5%;
          border-radius: 10px; }
          .categories-section .cards-section .right-card .right-card-body .item a img {
            height: 60%;
            width: 50%;
            padding-bottom: 2%;
            opacity: 0.2;
            color: #47ccc8; }
          .categories-section .cards-section .right-card .right-card-body .item a .image {
            filter: opacity(1.5) drop-shadow(1 1 #5ba52a); }
        .categories-section .cards-section .right-card .right-card-body .item:hover {
          background-color: #2d3663; }
          .categories-section .cards-section .right-card .right-card-body .item:hover img {
            opacity: 1; }
          .categories-section .cards-section .right-card .right-card-body .item:hover p {
            color: white; }

.about-clinic-section .about-clinic-body .about-left h6 {
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.about-clinic-section .about-clinic-body .about-left h1 {
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.about-clinic-section .about-clinic-body .about-left .about-button {
  background-color: #47ccc8 !important; }

.about-clinic-section .about-clinic-body .about-left .useable-button::before {
  background-color: #2d3663 !important; }

.about-clinic-section .about-clinic-body .about-left .useable-button:hover span {
  color: white !important; }

.about-clinic-section .about-clinic-body .about-right h1 {
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.about-clinic-section .about-clinic-body .about-right h4 {
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill {
  height: 150px;
  width: 150px;
  position: relative; }
  .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer {
    height: 138px;
    width: 138px;
    box-shadow: 2px 2px 6px -0.5px rgba(0, 0, 0, 0.5), -2px -2px 6px -0.5px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 15px; }
    .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer .inner {
      height: 108px;
      width: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0 rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
      border-radius: 50%; }
      .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer .inner #number1, .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer .inner #number2, .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer .inner #number3 {
        font-weight: 600;
        color: black; }
      .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill .outer .inner .title_text {
        font-size: 12px !important; }
  .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill circle {
    fill: none;
    stroke: #47ccc8;
    stroke-width: 12px;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: cntanim 2s linear forwards; }
  .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill #anim2 {
    animation: anim2 2s linear forwards; }
  .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill #anim3 {
    animation: anim3 2s linear forwards; }
  .about-clinic-section .about-clinic-body .about-right .counter-section .counter-area .item .skill svg {
    position: absolute;
    top: 0;
    left: 0; }

@keyframes cntanim {
  100% {
    stroke-dashoffset: 109.9; } }

@keyframes anim2 {
  100% {
    stroke-dashoffset: 78.5; } }

@keyframes anim3 {
  100% {
    stroke-dashoffset: 47.1; } }

.quality-section {
  padding-top: 2rem; }
  .quality-section .quality-body {
    height: 700px;
    position: relative; }
    .quality-section .quality-body .image-in-bg {
      height: 40em;
      width: 100%;
      background: url(../assets/img/dims.healthgrades.jpg);
      position: relative;
      background-position: center;
      background-size: cover; }
      .quality-section .quality-body .image-in-bg .quality-items {
        width: 100%;
        position: absolute;
        background-color: whitesmoke;
        bottom: -150px;
        border-radius: 10px;
        padding: 1%; }
        .quality-section .quality-body .image-in-bg .quality-items .items-body {
          align-items: center; }
          .quality-section .quality-body .image-in-bg .quality-items .items-body .item {
            position: relative;
            padding: 2%; }
            .quality-section .quality-body .image-in-bg .quality-items .items-body .item .item_text {
              text-align: center; }
              .quality-section .quality-body .image-in-bg .quality-items .items-body .item .item_text span {
                font-size: 40px;
                color: #47ccc8;
                font-weight: 600; }
              .quality-section .quality-body .image-in-bg .quality-items .items-body .item .item_text h6 {
                font-weight: 700;
                font-size: 20px; }

.offer-section {
  background-color: #2d3663;
  height: 1100px;
  overflow: hidden; }
  .offer-section .offer-body {
    padding-top: 200px; }
    .offer-section .offer-body .title_text_area {
      text-align: center; }
      .offer-section .offer-body .title_text_area h6 {
        color: white;
        font-weight: 600; }
      .offer-section .offer-body .title_text_area h2 {
        color: #47ccc8;
        font-weight: 700;
        font-size: 35px; }
      .offer-section .offer-body .title_text_area p {
        color: lightcyan;
        padding-left: 20% !important;
        padding-right: 20% !important; }
    .offer-section .offer-body .offer_card_area {
      padding: 5% !important; }
      .offer-section .offer-body .offer_card_area .card:hover {
        margin-top: -0.5rem; }
      .offer-section .offer-body .offer_card_area .card {
        z-index: 100;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .offer-section .offer-body .offer_card_area .card .image {
          height: 10rem;
          background-color: #47ccc8;
          align-items: center;
          display: flex;
          justify-content: center; }
          .offer-section .offer-body .offer_card_area .card .image h3 {
            color: #2d3663;
            font-weight: 700;
            font-family: sans-serif;
            text-align: center; }
        .offer-section .offer-body .offer_card_area .card .icon-circle {
          height: 100px;
          width: 100px;
          position: absolute;
          top: 120px;
          left: 35%;
          background-color: white;
          border-radius: 50%; }
          .offer-section .offer-body .offer_card_area .card .icon-circle .outer {
            height: 100px;
            width: 100px;
            position: relative;
            border-radius: 50%;
            box-shadow: 2px 2px 5px 5px rgba(230, 228, 228, 0.952);
            padding: 5px;
            background-color: #2d3663; }
            .offer-section .offer-body .offer_card_area .card .icon-circle .outer .inner {
              height: 90px;
              width: 90px;
              position: relative;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              box-shadow: 2px 2px 20px 5px rgba(20, 15, 15, 0.5), -2px -2px 20px 10px rgba(20, 15, 15, 0.5); }
              .offer-section .offer-body .offer_card_area .card .icon-circle .outer .inner img {
                height: 60%;
                width: 60%;
                padding: 5%;
                position: relative; }
        .offer-section .offer-body .offer_card_area .card .card-body {
          padding-top: 100px;
          text-align: center; }
          .offer-section .offer-body .offer_card_area .card .card-body .card-title {
            font-size: 40px;
            font-weight: 700;
            font-family: serif; }
          .offer-section .offer-body .offer_card_area .card .card-body .card_text p {
            color: #47ccc8;
            font-weight: 600;
            font-size: 15px; }
          .offer-section .offer-body .offer_card_area .card .card-body .card_text ul {
            text-align: left;
            position: relative;
            left: 20%;
            font-family: sans-serif; }
            .offer-section .offer-body .offer_card_area .card .card-body .card_text ul li::before {
              content: "✔️"; }
          .offer-section .offer-body .offer_card_area .card .card-body .card_text .offer-submit-btn {
            color: white;
            font-size: 15px;
            font-weight: 700; }
          .offer-section .offer-body .offer_card_area .card .card-body .card_text .offer-submit-btn:hover {
            color: #2d3663; }
          .offer-section .offer-body .offer_card_area .card .card-body .card_text .offer-submit-btn:hover::before {
            background-color: #47ccc8; }

.mri_details_section {
  padding-top: 5rem;
  height: 900px; }
  .mri_details_section .inner-bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    top: 0;
    zoom: 1;
    filter: alpha(opacity=5);
    -webkit-opacity: 0.05;
    -moz-opacity: 0.05;
    opacity: 0.05;
    background: url(../assets/img/bg-wave.png);
    opacity: 0.05; }
  .mri_details_section .mri-inner-area .left_area {
    height: 600px;
    padding-top: 5rem !important;
    padding-left: 1rem; }
    .mri_details_section .mri-inner-area .left_area .mri_details_text h2 {
      color: #47ccc8;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      font-size: 35px; }
    .mri_details_section .mri-inner-area .left_area .mri_details_text h3 {
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 600;
      color: #2d3663; }
    .mri_details_section .mri-inner-area .left_area .mri_details_text p {
      color: darkgray; }
    .mri_details_section .mri-inner-area .left_area .mri-details-items {
      grid-template-columns: auto auto;
      grid-gap: 0.5rem; }
      .mri_details_section .mri-inner-area .left_area .mri-details-items .item .text h3 {
        font-size: 20px; }
      .mri_details_section .mri-inner-area .left_area .mri-details-items .item .text p {
        font-size: 12px; }
      .mri_details_section .mri-inner-area .left_area .mri-details-items .item img {
        width: 60%;
        height: 55%;
        font-size: 10px !important;
        padding-right: 2rem;
        color: #47ccc8; }
  .mri_details_section .mri-inner-area .right_area {
    height: 600px;
    padding-top: 5rem;
    width: 100%;
    margin-bottom: 10%; }
    .mri_details_section .mri-inner-area .right_area .mri_machine {
      height: 600px;
      width: 100%;
      position: relative; }
      .mri_details_section .mri-inner-area .right_area .mri_machine img {
        height: 90%;
        width: 80%;
        bottom: 10;
        position: absolute; }
    .mri_details_section .mri-inner-area .right_area .doctor {
      height: 600px;
      width: 100%;
      position: relative; }
      .mri_details_section .mri-inner-area .right_area .doctor img {
        height: 100%;
        width: 80%;
        left: 20%;
        top: -100%;
        position: absolute; }

.tabs-section {
  height: 600px;
  position: relative;
  top: 100px; }
  .tabs-section .nav-tab-area {
    padding-bottom: 5rem; }
    .tabs-section .nav-tab-area .text_area {
      text-align: center; }
      .tabs-section .nav-tab-area .text_area h6 {
        color: #47ccc8;
        font-size: 18px;
        font-weight: 700; }
      .tabs-section .nav-tab-area .text_area h2 {
        color: #2d3663;
        font-size: 3rem;
        font-weight: 700; }
      .tabs-section .nav-tab-area .text_area p {
        font-family: sans-serif;
        padding-left: 15%;
        padding-right: 15%; }
    .tabs-section .nav-tab-area ul li {
      border: none !important;
      padding-bottom: 50px;
      border: solid 1px #ddd;
      font-weight: 700;
      text-align: center;
      cursor: pointer; }
    .tabs-section .nav-tab-area .tab_header .active {
      border-bottom: none !important;
      background-color: lightgray;
      margin: .5%;
      padding: .5%; }
    .tabs-section .nav-tab-area .tab_header ul.filter {
      display: flex;
      justify-content: center; }
    .tabs-section .nav-tab-area .tab_header ul li {
      padding: 12px;
      font-size: 1em;
      width: 12% !important;
      text-align: center !important;
      border-bottom: dashed 2px lightgray !important; }
  .tabs-section .b-btn {
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center; }
  .tabs-section .b-btn .useable-button {
    color: white; }
  .tabs-section .b-btn:hover .useable-button {
    background-color: #17f7ef;
    color: black !important; }
  .tabs-section ul.filter {
    margin: 2em auto; }
    .tabs-section ul.filter li {
      padding: 12px;
      width: 25%;
      float: left; }
  .tabs-section .slider {
    display: flex;
    justify-content: center; }
    .tabs-section .slider button {
      border: none !important;
      background: none !important;
      color: white !important; }
    .tabs-section .slider .slick-prev, .tabs-section .slider .slick-next {
      position: absolute;
      bottom: -20%;
      padding-right: 2rem !important; }
    .tabs-section .slider .slick-next {
      left: 47% !important; }
    .tabs-section .slider .slick-prev {
      left: 48%;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #47ccc8; }
    .tabs-section .slider .slick-prev::after {
      content: "➜";
      font-size: 30px;
      position: absolute;
      color: black !important;
      top: -31px;
      padding: 1%;
      left: 63px !important; }
    .tabs-section .slider .slick-prev:hover::before {
      content: "";
      position: absolute;
      top: -31px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: green;
      left: 55px;
      color: white; }
    .tabs-section .slider .slick-prev::before {
      content: "";
      position: absolute;
      top: -31px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      border: 1px solid green;
      left: 55px; }
    .tabs-section .slider .slick-next:hover::after {
      content: "";
      position: absolute;
      top: -45px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: green;
      left: -3px;
      z-index: -1; }
    .tabs-section .slider .slick-next::after {
      content: "";
      position: absolute;
      top: -45px;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      border: 1px solid green;
      left: -3px;
      z-index: -1; }
    .tabs-section .slider .slick-next::before {
      content: "➜";
      top: -166%;
      font-size: 30px;
      position: absolute;
      color: black !important;
      transform: rotate(-180deg); }
    .tabs-section .slider li .slick-track {
      width: 271px !important; }
      .tabs-section .slider li .slick-track .slick-slide {
        width: 271px !important; }
    .tabs-section .slider li .card {
      position: relative;
      background-color: rgba(211, 211, 211, 0.3);
      text-align: center;
      margin-right: 10px;
      overflow: hidden;
      border: none !important; }
      .tabs-section .slider li .card .img-outer:hover {
        box-shadow: 0px 0px 30px 12px rgba(171, 255, 46, 0.2); }
      .tabs-section .slider li .card .img-outer {
        display: flex;
        height: 210px;
        width: 210px;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        align-items: center;
        margin: auto;
        margin-top: 5%; }
        .tabs-section .slider li .card .img-outer .img-inner {
          height: 200px;
          width: 200px;
          padding: 5%;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.15); }
          .tabs-section .slider li .card .img-outer .img-inner img {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
      .tabs-section .slider li .card .card-body p {
        background-color: #47ccc8;
        padding: 2%;
        width: 140px;
        border-radius: 20px;
        margin: auto;
        text-transform: capitalize; }
      .tabs-section .slider li .card .card-footer {
        border: none !important; }
        .tabs-section .slider li .card .card-footer ul {
          display: flex;
          padding-left: 0;
          justify-content: center; }
          .tabs-section .slider li .card .card-footer ul li {
            margin-left: 2%;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            padding: .5%; }
          .tabs-section .slider li .card .card-footer ul li:hover {
            background-color: #47ccc8;
            padding: 0;
            color: #09219b;
            font-size: 20px;
            transition: all 0.2s ease-in-out; }

.testimonial {
  margin-top: 30rem;
  overflow: hidden;
  height: 1000px;
  width: 100%;
  background: linear-gradient(rgba(45, 54, 99, 0.9), rgba(45, 54, 99, 0.9)), url(../assets/img/bg-partern/pngtree-blue-molecular-structure-dna-pattern-design-element-image_2280442.jpg);
  background-color: #2d3663;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .testimonial .inner-bg .title-text {
    text-align: center;
    padding: 100px 0px 30px 0px; }
    .testimonial .inner-bg .title-text h5 {
      color: white;
      font-family: sans-serif;
      font-weight: 600; }
    .testimonial .inner-bg .title-text h1 {
      color: #47ccc8;
      font-family: sans-serif;
      font-weight: 700; }
  .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item {
    height: 600px;
    width: 40%; }
    .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item {
      height: 600px;
      background-color: white;
      border-radius: 10px; }
      .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .circle-are {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: rgba(245, 150, 150, 0.7);
        position: relative;
        top: -10%;
        left: 40%;
        overflow: hidden;
        padding: 1.8%;
        box-shadow: 0px 0px 2px 4px rgba(245, 150, 150, 0.7); }
        .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .circle-are .outer .inner {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          box-shadow: 0px 0px 2px 4px rgba(245, 150, 150, 0.7);
          overflow: hidden; }
      .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-top {
        background-color: rgba(245, 150, 150, 0.1);
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-top .img {
          height: 150px;
          width: 100px;
          padding: 70px 0px 10px 0px; }
          .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-top .img img {
            height: 100%;
            width: 100%; }
        .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-top h4 {
          padding: 1rem;
          color: #2d3663;
          text-align: center;
          font-size: 20px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
      .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-top::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 33%;
        top: 0;
        zoom: 1;
        filter: alpha(opacity=5);
        -webkit-opacity: 0.08;
        -moz-opacity: 0.08;
        opacity: 0.08;
        background: url(../assets/img/bg-wave.png);
        opacity: 0.08; }
      .testimonial .inner-bg .testimonial-slide-section .owl-stage .owl-item .card-item .card-bottom {
        text-align: center;
        top: -10px;
        position: relative; }
  .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-dots {
    display: none !important; }
  .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav {
    margin-top: 40px !important; }
    .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-prev, .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-next {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #47ccc8; }
      .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-prev span, .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-next span {
        display: none !important; }
    .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-prev::after {
      content: "➜";
      font-size: 32px;
      position: absolute;
      color: black !important;
      margin-bottom: 1rem;
      transform: rotate(-180deg) !important;
      bottom: -20px;
      right: 50.8%; }
    .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-next::after {
      content: "➜";
      font-size: 30px;
      position: absolute;
      color: black !important;
      padding: 1%;
      bottom: -9px;
      right: 45.5%; }
    .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-prev:hover, .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-next:hover {
      background-color: #2d3663; }
    .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-prev:hover::after, .testimonial .inner-bg .testimonial-slide-section .owl-theme .owl-nav .owl-next:hover::after {
      color: white !important; }

.freecheckup {
  height: 400px;
  display: flex;
  background-color: #17f7ef; }
  .freecheckup .offer {
    display: flex;
    width: 50%; }
    .freecheckup .offer .offer-img {
      width: 40% !important; }
      .freecheckup .offer .offer-img img {
        height: 80% !important;
        padding-top: 40% !important;
        padding-right: 20%; }
    .freecheckup .offer .offer-text {
      width: 60%;
      text-align: left;
      margin: auto;
      padding: auto;
      padding-left: 10%;
      font-size: 3rem;
      color: whitesmoke;
      font-weight: 600;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .freecheckup .request {
    width: 50%;
    margin: auto;
    padding: auto; }
    .freecheckup .request form {
      position: relative; }
      .freecheckup .request form input {
        width: calc(100% - .3rem);
        padding: 1.5rem;
        border-radius: 25px; }
      .freecheckup .request form button {
        position: absolute;
        text-align: left;
        right: 0;
        padding: 1.6rem;
        width: 35%;
        border-radius: 25px;
        background-color: #2d3663;
        color: white; }
      .freecheckup .request form button:hover {
        color: black;
        background-color: #17f7ef; }
      .freecheckup .request form button::after {
        content: "→";
        position: absolute;
        font-size: 2rem;
        color: black;
        border-radius: 50%;
        top: 10%;
        right: 5%; }
      .freecheckup .request form button::before {
        content: "";
        position: absolute;
        font-size: 2rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        top: 18%;
        right: 2%;
        background-color: #17f7ef; }
      .freecheckup .request form button:hover::before {
        background-color: #09219b; }
      .freecheckup .request form button:hover::after {
        color: white; }

.medical_product, .article-section {
  background-color: #edf3f6; }
  .medical_product .title-area, .article-section .title-area {
    text-align: center; }
    .medical_product .title-area h5, .article-section .title-area h5 {
      color: #17f7ef;
      font-weight: 600; }
    .medical_product .title-area h2, .article-section .title-area h2 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 700; }
  .medical_product .article-area .card-area, .article-section .article-area .card-area {
    display: flex; }
  .medical_product .article-area .text-card, .article-section .article-area .text-card {
    width: 100%; }
    .medical_product .article-area .text-card .card-part, .article-section .article-area .text-card .card-part {
      box-shadow: 0 0 20px #b3b3c4;
      padding: 2rem;
      margin-bottom: .5rem; }
      .medical_product .article-area .text-card .card-part button, .article-section .article-area .text-card .card-part button {
        width: 12em !important;
        color: white;
        font-size: 1.1rem;
        border: none; }
      .medical_product .article-area .text-card .card-part .useable-button:hover, .article-section .article-area .text-card .card-part .useable-button:hover {
        background-color: #17f7ef;
        color: #09219b; }
      .medical_product .article-area .text-card .card-part .useable-button:hover::before, .article-section .article-area .text-card .card-part .useable-button:hover::before {
        display: none; }
      .medical_product .article-area .text-card .card-part h3, .article-section .article-area .text-card .card-part h3 {
        font-size: 1.4rem;
        font-weight: 600;
        font-family: sans-serif; }
      .medical_product .article-area .text-card .card-part ul, .article-section .article-area .text-card .card-part ul {
        padding-left: 0;
        justify-content: start; }
      .medical_product .article-area .text-card .card-part ul i, .article-section .article-area .text-card .card-part ul i {
        color: #17f7ef;
        padding-right: .1rem; }
  .medical_product .article-area .double-card, .article-section .article-area .double-card {
    width: 50%;
    margin: 2%; }
    .medical_product .article-area .double-card #cardiology-card, .article-section .article-area .double-card #cardiology-card {
      overflow: hidden;
      height: 550px;
      width: 100%; }
    .medical_product .article-area .double-card #cardiology-card::after, .article-section .article-area .double-card #cardiology-card::after {
      content: '';
      position: absolute;
      background-color: rgba(22, 13, 13, 0.5);
      top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      z-index: 1; }
    .medical_product .article-area .double-card #cardiology-card:hover::after, .article-section .article-area .double-card #cardiology-card:hover::after {
      display: none; }
    .medical_product .article-area .double-card #cardiology-card img, .article-section .article-area .double-card #cardiology-card img {
      position: relative;
      height: 100%;
      transition: all 0.5s;
      width: 100%; }
    .medical_product .article-area .double-card #cardiology-card:hover img, .article-section .article-area .double-card #cardiology-card:hover img {
      transform: scale(1.05); }
    .medical_product .article-area .double-card .c-item, .article-section .article-area .double-card .c-item {
      position: relative;
      width: 100%; }
      .medical_product .article-area .double-card .c-item .over-text, .article-section .article-area .double-card .c-item .over-text {
        position: absolute;
        z-index: 999;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%; }
      .medical_product .article-area .double-card .c-item .useable-button, .article-section .article-area .double-card .c-item .useable-button {
        width: 35%;
        background-color: #17f7ef;
        border: none; }
      .medical_product .article-area .double-card .c-item .useable-button:hover, .article-section .article-area .double-card .c-item .useable-button:hover {
        color: white;
        position: relative;
        z-index: 999; }
      .medical_product .article-area .double-card .c-item .useable-button:hover::before, .article-section .article-area .double-card .c-item .useable-button:hover::before {
        background-color: #2d3663;
        z-index: -1; }
      .medical_product .article-area .double-card .c-item .text-area, .article-section .article-area .double-card .c-item .text-area {
        position: relative; }
        .medical_product .article-area .double-card .c-item .text-area h3, .article-section .article-area .double-card .c-item .text-area h3 {
          color: white; }
        .medical_product .article-area .double-card .c-item .text-area h3:hover, .article-section .article-area .double-card .c-item .text-area h3:hover {
          color: #17f7ef;
          background-color: rgba(0, 0, 0, 0.3); }
        .medical_product .article-area .double-card .c-item .text-area ul, .article-section .article-area .double-card .c-item .text-area ul {
          padding-left: 0;
          justify-content: space-between; }
        .medical_product .article-area .double-card .c-item .text-area i, .article-section .article-area .double-card .c-item .text-area i {
          color: #17f7ef;
          padding-right: .4rem; }

.partners-section {
  padding-top: 10%; }

.partners-section .btmbdr {
  margin: 5%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10%; }

.partners-section .partners_area {
  display: flex;
  text-align: center;
  justify-content: space-around; }

.partners-section .partners_area img {
  transition: all 0.2s ease-in-out; }

.partners-section .partners_area img:hover {
  scale: 1.2; }

.footer_area {
  background: linear-gradient(rgba(9, 17, 59, 0.9), rgba(9, 17, 59, 0.9)), url(../assets/img/bg-wave.png);
  height: auto;
  width: 100%; }
  .footer_area .copy_rights p {
    color: rgba(221, 221, 221, 0.2); }
  .footer_area .row {
    padding-top: 100px !important; }
  .footer_area .footer_top_row {
    border-bottom: 2px dashed rgba(196, 190, 190, 0.5);
    padding: 50px;
    height: 300px; }
  .footer_area .logo {
    height: auto; }
    .footer_area .logo img {
      color: white; }
  .footer_area form {
    height: auto; }
    .footer_area form .subscrib_btn {
      background-color: #17f7ef;
      border: 2px solid #17f7ef; }
    .footer_area form .subscrib_btn:hover {
      background-color: white;
      border: 2px solid white; }
  .footer_area .follow_us {
    font-weight: 700;
    justify-content: flex-end; }
    .footer_area .follow_us ul li i {
      height: 50px;
      width: 50px;
      background-color: #17f7ef;
      border-radius: 50%;
      color: black;
      padding: 28%;
      font-size: 25px; }
    .footer_area .follow_us ul li:hover i {
      color: white; }
  .footer_area .footer_middle_row {
    padding: 3rem; }
    .footer_area .footer_middle_row .outer h2 {
      color: #17f7ef;
      font-weight: 700;
      padding-bottom: 20px; }
    .footer_area .footer_middle_row .outer .about_us_items {
      padding: 1%; }
      .footer_area .footer_middle_row .outer .about_us_items .header_text {
        color: #17f7ef; }
        .footer_area .footer_middle_row .outer .about_us_items .header_text i {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: white;
          color: #2d3663;
          font-size: 15px;
          padding: 2%; }
        .footer_area .footer_middle_row .outer .about_us_items .header_text .inner_text {
          color: white; }
    .footer_area .footer_middle_row .outer .quick_move ul {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; }
      .footer_area .footer_middle_row .outer .quick_move ul li a {
        text-decoration: none;
        color: white; }
      .footer_area .footer_middle_row .outer .quick_move ul li:before {
        content: '> ';
        position: relative;
        color: #17f7ef; }
      .footer_area .footer_middle_row .outer .quick_move ul li:hover a {
        color: #17f7ef; }
    .footer_area .footer_middle_row .outer .contact_footer {
      margin: auto; }
      .footer_area .footer_middle_row .outer .contact_footer .useable-button:before, .footer_area .footer_middle_row .outer .contact_footer .btn {
        background-color: white;
        color: #2d3663; }
      .footer_area .footer_middle_row .outer .contact_footer i {
        color: black; }
      .footer_area .footer_middle_row .outer .contact_footer .useable-button:hover:before, .footer_area .footer_middle_row .outer .contact_footer .btn:hover {
        background-color: #17f7ef !important; }
      .footer_area .footer_middle_row .outer .contact_footer .useable-button {
        font-size: 15px; }
    .footer_area .footer_middle_row .outer .viewers .items {
      display: flex;
      gap: 1rem;
      height: 100%;
      width: 100%; }
      .footer_area .footer_middle_row .outer .viewers .items img {
        width: 30%;
        height: 70px;
        border-radius: 10px; }
    .footer_area .footer_middle_row .outer .viewers .view_details {
      gap: 1rem;
      display: flex;
      flex-direction: column; }
      .footer_area .footer_middle_row .outer .viewers .view_details span {
        color: gray; }
      .footer_area .footer_middle_row .outer .viewers .view_details i {
        color: #17f7ef; }
      .footer_area .footer_middle_row .outer .viewers .view_details p {
        font-weight: 700; }
